@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> The scheme provides reassurance to valnerable people and to their families and carers, so that htey have means to alert someone of any potential risk or emergency if they are alone. Consequently, having access to a 'Safe place' will help vulnerable people lead independent lives and feel safe in Chiltern and South Bucks.</p>
