@{
	ViewBag.Title = "Location";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2476.579132576294!2d-0.7556688050986622!3d51.63091830061925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487661daa8a9fbf7%3A0xf87877780d486a1c!2sHigh+Wycombe+Library!5e0!3m2!1sen!2suk!4v1515245508546" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>
