@{
	ViewBag.Title = "TrainingVideo";
}
<html>
<body>
	<h2>@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>

	<iframe width="560"
			height="315"
			src="https://www.youtube.com/watch?v=LXLIT6OjeT0"
			frameborder="0"
			allowfullscreen></iframe>
</body>
</html>
